@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=League+Spartan:wght@100..900&display=swap');

 /*definir o tema dark do site */

:root, :root[data-theme='dark']  {

 /*definir cores padrão em variàvel*/


 --primary-color: #f0f0f0;
 --primary-bg-color: #111217 ; /*bg- background*/
 --secundary-bg-color: #C7c8c9;
 --primary-border-color: #28292e;
 --secundary-border-color: #56575a;


 /*definir cores padrão para os textos em variàvel*/
 --title-color: #f0f0f0;
 --text-color: #9a9a9c;
 --link-color: #9a9a9c;
 --icon-color: #C7C8C9;

}

:root [data-theme='light'] {

    --primary-color: #0b0b0f;
    --primary-bg-color: #e9e9e9;
    --secundary-bg-color: #C7c8c9;
    --primary-border-color: #C7c8c9;
    --secundary-border-color: #9a9a9c;

    --title-color: #0b0b0f;
    --text-color: #28292e;
    --link-color: #28292e;
    --icon-color: #56575a;

}
html[data-theme='light'] .brand-logo {
    filter: invert(1);
}
    

    /*html[data-theme='light'] .tecnologias-logo*/

    /*reset CSS
    padronizar navegadores
    */

* {
    margin: 0; /*margem*/
    padding: 0; /*espaçamento interno*/
    vertical-align: baseline;
    list-style: none;
    scrollbar-width: thin;
    scrollbar-color: var(--secundary-bg-color)transparent;

}

body {
    background: var(--primary-bg-color);
    font-family: 'inter', 'tahoma' , 'geneva', 'verdana', 'sans serif';
    color: var(--text-color); /*cor do texto*/


}


    



















   



